/* Resetting padding and margin to 0 and 
   setting the box-sizing property. */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting height and background of body. */
body {
    background: rgb(34, 193, 195);
    background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    min-height: 100svh;
    padding-bottom: 100px;
}

/* Setting the width and horizontal position of container. */
.container {
    max-width: 800px;
    margin: auto;
}

/* Styling the heading */
.heading {
    font-size: 50px;
    margin: 30px 0px;
    text-align: center;
}

/* Styling labels for input fields. */
label {
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
}

/* Styling required field and error messages. */
.error {
    vertical-align: top;
    color: red;
}

/* Styling the input fields */
input {
    outline: none;
    border: none;
}

/* Styling the text input fields. */
input[type="text"] {
    width: 95%;
    margin: auto;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgba(253, 253, 124, 0.808);
    border: 2px solid black;
    margin-bottom: 10px;
}

/* Styling the file input field. */
input[type="file"] {
    font-size: 20px;
    padding: 5px 10px;
    margin-bottom: 25px;
}

/* Styling the textarea for inputting Subject|Marks Pairs */
textarea{
    width: 95%;
    margin: auto;
    min-height:100px ;
    background-color: rgba(253, 253, 124, 0.808);
    border-radius: 20px;
    border: 2px solid black;
    resize: none;
    outline: none;
    margin-bottom: 10px;
    padding: 8px 15px;
    font-size: 20px;
    overflow: hidden;
}

/* Styling the submit button. */
input[type="submit"] {
    display: block;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 10px;
    margin-top: 25px;
}

/* Adding margin to indianPhoneNumber label */
#indianPhoneNumberLabel{
    margin-top: 10px;
}

/* Styling the Phone number field */
input[type="tel"] {
    width: 95%;
    margin: auto;
    font-size: 25px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: rgba(253, 253, 124, 0.808);
    border: 2px solid black;
}

/* Hover effect on submit button. */
input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(230, 225, 58);
}

/* To show Full Name field is disabled on hover. */
#fullName {
    cursor: not-allowed;
}

/* Styling the displayed details. */
.detail {
    font-size: 25px;
    text-transform: capitalize;
    margin: 25px 0px;
    text-align: center;
}

/* Styling the image displayed. */
.showimage {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    height: 250px;
}

/* Styling the Subject|Marks table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: lightyellow; 
}

/* Styling table headers and data. */
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Giving a background-color to table headers. */
th {
    background-color: rgba(253, 253, 124, 0.808);
}

/* Changing background-color of table rows on hover. */
tr:hover {
    background-color: rgba(253, 253, 124, 0.6);
}

