<!-- Buttons for easy navigagtion of pages. -->
<div class="pageButtons">
  <button class="pageBtn" onclick="handleQueryClick(1)">Query1</button>
  <button class="pageBtn" onclick="handleQueryClick(2)">Query2</button>
  <button class="pageBtn" onclick="handleQueryClick(3)">Query3</button>
  <button class="pageBtn" onclick="handleQueryClick(4)">Query4</button>
  <button class="pageBtn" onclick="handleQueryClick(5)">Query5</button>
  <button class="pageBtn" onclick="handleQueryClick(6)">Query6</button>
</div>

